<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <% @books.each do |book| %>
  <tbody>
    <tr>
      <th><%= book.title %></th>
      <th><%= book.body %></th>
      <th><%= link_to "Show", book_path(book) %></th>
      <th><%= link_to "Edit", edit_book_path(book) %></th>
      <th><%= link_to "Destroy", book_path(book), method: :delete, "data-confirm" => "本当に削除しますか？" %></th>
    </tr>
  </tbody>
  <% end %>
</table>

<h2>New Book</h2>
<div class="new-book">
  <%= form_with model:@book, local:true do |f| %>
  <%= render "books/error", book: @book %>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :body %>
      <%= f.text_area :body %>
    </div>
    <div class="actions">
      <%= f.submit 'Create Book' %>
    </div>
  <% end %>
</div>